/* This file intentionally left blank. */
div.admonition.top {
    background: #f0f0f0;
    padding: 1em;
    margin: 1em 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

div.admonition.top > .admonition-title {
    font-weight: bold;
    margin-bottom: 0.5em;
}
